<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<style> 
body {
  margin: 0;
  font-family: "Audiowide", sans-serif;
  display: flex;
}
<style>

body.index {
  background-image: 
  background-size: cover
  background-position: center

.sidebar {
  width: 220px;
  height: 100vh;
  background: #111;
  color: white;
  padding: 20px;
  position: fixed;}

.logo {
  margin-bottom: 30px;
  font-size: 22px;}

.sidebar nav a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 15px 0;
  font-size: 16px;
  transition: 0.3s;}

.sidebar nav a:hover {
  color: #00bcd4;}

.content {
  margin-left: 240px;
  padding: 40px;
  width: 100%;}
h1 {
  font-size:30px;
  font-family: "Autowide", sans-serif;}
h2 {
  font-size: 22px;
  font-family: "Times New Roman", Times, sans-serif;}

p {
  font-size: 18px;
  line-height: 1.6;}
