body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: #111;
  color: white;
  padding: 20px;
  position: fixed;
}

.logo {
  margin-bottom: 30px;
  font-size: 22px;
}

.sidebar nav a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 15px 0;
  font-size: 16px;
  transition: 0.3s;
}

.sidebar nav a:hover {
  color: #00bcd4;
}

.content {
  margin-left: 240px;
  padding: 40px;
  width: 100%;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}
